@import "/styles/globals.scss";

#formWrapper {
    max-width: 50vw;
    margin: 0 auto;

    p, strong, select, textarea, a, input {
        font-size: 1.8rem;
    }

    strong {
        font-family: $font-header;
    }
}

#selectHolder {
    display: flex;
}

#contentInput {
    width: 50vw;
    height: 10vh;
}