/** @format */

$font-stack: "Courier New";
$font-header: "Minion Pro Medium";
$font-text: "Minion Pro Regular";
$font-sans: "Neue Montreal Regular";
$font-sans-bold: "Neue Montreal Medium";
$primary-color: rgb(0, 0, 0);
$bg-color: #ffffff;
$line-height: 1.4;
