/** @format */

$font-stack: system-ui, DIN2014-Demi;
// $font-header: sans-serif;
$font-header: "Manrope";
$font-text: "Imperial";
$primary-color: rgb(0, 0, 0);
$bg-color: #ffffff;
$line-height: 1.4;
