/** @format */

$font-stack: system-ui, DIN2014-Demi;
$font-header: "Minion Pro Medium";
$font-text: "Minion Pro Regular";
$font-subtext: "Gandhi Sans";
$font-folio: "Neue Montreal Regular";
$preview-header: "Neue Montreal Medium";
$primary-color: rgb(0, 0, 0);
$bg-color: #ffffff;
$line-height: 1.4;
