/** @format */

@use "globals.scss";

:root {
	font-size: 10px;
}

* {
	font-family: globals.$font-text, globals.$font-stack;
	color: globals.$primary-color;
	background-color: transparent;
	line-height: globals.$line-height;
	text-decoration: none;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: globals.$font-header, globals.$font-stack;
}

span {
	color: #8b8b8b;
	font-family: globals.$font-text, globals.$font-stack;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3.5rem;
}

h3 {
	font-size: 3rem;
}

p, section, span, input, strong { 
	font-size: 2rem;
}

a {
	font-size: 1.6rem;
}

@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap");

@font-face {
	font-family: "Canterbury";
	src: url("//db.onlinewebfonts.com/t/45f5fadb3dbf0140e10b498c7cb030a6.eot");
	src: url("//db.onlinewebfonts.com/t/45f5fadb3dbf0140e10b498c7cb030a6.eot?#iefix") format("embedded-opentype"),
		url("//db.onlinewebfonts.com/t/45f5fadb3dbf0140e10b498c7cb030a6.woff2") format("woff2"),
		url("//db.onlinewebfonts.com/t/45f5fadb3dbf0140e10b498c7cb030a6.woff") format("woff"),
		url("//db.onlinewebfonts.com/t/45f5fadb3dbf0140e10b498c7cb030a6.ttf") format("truetype"),
		url("//db.onlinewebfonts.com/t/45f5fadb3dbf0140e10b498c7cb030a6.svg#Canterbury") format("svg");
}

@font-face {
	font-family: "Minion Pro Medium";
	src: url("/assets/fonts/Minion Pro/Minion Pro Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Minion Pro Regular";
	src: url("/assets/fonts/Minion Pro/Minion Pro Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Gandhi Sans Regular";
	src: url("/assets/fonts/gandhi-sans/GandhiSans-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Neue Montreal Regular";
	src: url("/assets/fonts/Neue Montreal/NeueMontreal-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Neue Montreal Medium";
	src: url("/assets/fonts/Neue Montreal/NeueMontreal-Medium.otf") format("opentype");
}
